.DS_Store
.vscode
.vscode*
training/.settings
training/.settings*
classifier*
_*.tmp.npy
__pycache__*
__pycache__
_*.jsonl
tmp/*
tmp*
tmp
wandb
wandb*
training/wandb
training/wandb*
intermed_comp*
intermed_comp/*
clusterbias_results.csv